@use 'css-reset.scss';

$dark-gray-blue: hsl(217, 19%, 35%);
$desat-blue: hsl(214, 17%, 51%);
$gray-blue: hsl(212, 23%, 69%);
$light-gray-blue: hsl(210, 46%, 95%);
$font-size: 0.8125rem;
$fw-500: 500;
$fw-700: 700;
$font-family: 'Manrope';


/* TODO:
   fix picture height
   add alt text
*/
body {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $fw-500;
    text-align: left;
    padding-top: 4rem;
    padding-inline: 1rem;
}

.App {
    box-shadow: 0.5rem 0.5rem 1rem $gray-blue;
    border-radius: 0.7rem;
    max-width: 20.625rem; //check this
    overflow: hidden;
}

h2 {
    font-weight: $fw-700;
    color: $dark-gray-blue;
    font-size: 1rem;
    padding-top: 1.5rem;
}

main {
    padding-inline: 2rem;
}

p {
    color: $desat-blue;
    padding-top: 1rem;
    padding-right: 0.5rem;
}

.profile-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    align-items: center;
}

.avatar {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
}

.profile-name {
    font-weight: $fw-700;
    color: $dark-gray-blue;
    padding: 0;
}

.post-date {
    padding: 0;
}

button {
    border-radius: 50%;
    border: 0 solid transparent;
    height: 2.2rem; //fix this
    width: 2rem; //fix this
    padding: 0 0 0.1rem 0.5rem;
    cursor: pointer;
}

.social-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 2rem;
    align-items: center;
    color: $light-gray-blue;
    background-color: $dark-gray-blue;
    margin-top: 1.5rem;
    animation-name: social;
    animation-duration: 1s;
}

@keyframes social {
    from {
        padding-left: 10rem;
    }
    to {
        padding-left: 1.5rem;
    }
}

h3 {
    font-weight: $fw-500;
    letter-spacing: 0.3rem;
    font-size: 0.8rem;
    color: $gray-blue;
    text-transform: uppercase;
}

.social-button {
    background-color: $gray-blue;
    margin-left: 2rem;
}

svg {
    fill: white;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }