/*  1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}

/*  2. Remove default margin  */
* {
  margin: 0;
}

/*  3. Allow percentage-based heights in the application */
html, body {
  height: 100%;
}

/*
  Typographic tweaks!  4. Add accessible line-height  5. Improve text rendering */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*  6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*  7. Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}

/*  8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*  9. Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

/* TODO:
   fix picture height
   on tablet and desktop add active colors to button
   check all files for fixes and todo's
*/
body {
  font-family: "Manrope";
  font-size: 0.8125rem;
  font-weight: 500;
  text-align: left;
  padding-top: 4rem;
  padding-inline: 1rem;
}

.App {
  box-shadow: 0.5rem 0.5rem 1rem hsl(212, 23%, 69%);
  border-radius: 0.7rem;
  overflow: hidden;
}

h2 {
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  font-size: 1rem;
  padding-top: 1.5rem;
}

main {
  padding-inline: 2rem;
}

p {
  color: hsl(214, 17%, 51%);
  padding-top: 1rem;
  padding-right: 0.5rem;
}

.profile-container {
  display: flex;
  flex-direction: row;
  flex-shrink: 2;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
}

.profile-name {
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  padding: 0;
}

.post-date {
  padding: 0;
}

button {
  border-radius: 50%;
  border: 0 solid transparent;
  min-height: 2.2rem;
  min-width: 2rem;
  padding: 0 0 0.1rem 0.5rem;
  cursor: pointer;
}

.social-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 2;
  gap: 1rem;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: center;
  color: hsl(210, 46%, 95%);
  background-color: hsl(217, 19%, 35%);
  margin-top: 1.5rem;
  animation-name: social;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

@keyframes social {
  from {
    padding-left: 10rem;
  }
  to {
    padding-left: 1.5rem;
  }
}
h3 {
  font-weight: 500;
  letter-spacing: 0.3rem;
  font-size: 0.8rem;
  color: hsl(212, 23%, 69%);
  text-transform: uppercase;
}

.social-button {
  background-color: hsl(214, 17%, 51%);
  margin-left: 2rem;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (min-width: 42.5rem) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    padding-inline: 4rem;
  }
  .App {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    overflow: visible;
    max-width: 45.9375rem;
  }
  .header-image {
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    -o-object-fit: cover;
       object-fit: cover;
    min-height: 100%;
  }
  .profile-container {
    grid-column: 2/2;
    margin-top: 2rem;
  }
  .social-container {
    position: absolute;
    top: 11rem;
    right: -3.8rem;
    padding: 0.8rem 1.5rem;
    gap: 1rem;
    border-radius: 0.5rem;
  }
  .social-container::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 0.5rem;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent;
  }
}
@media (min-width: 53.75rem) {
  main {
    min-width: 27.8125rem;
  }
  .social-container {
    top: 8rem;
    right: -3.8rem;
  }
  button {
    margin-left: 8rem;
  }
}/*# sourceMappingURL=App.css.map */