@use 'css-reset.scss';

$dark-gray-blue: hsl(217, 19%, 35%);
$desat-blue: hsl(214, 17%, 51%);
$gray-blue: hsl(212, 23%, 69%);
$light-gray-blue: hsl(210, 46%, 95%);
$font-size: 0.8125rem;
$fw-500: 500;
$fw-700: 700;
$font-family: 'Manrope';


/* TODO:
   fix picture height
   fix padding on p
*/
body {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $fw-500;
    text-align: left;
    padding-top: 4rem;
    padding-inline: 1rem;
}

.App {
    box-shadow: 0.5rem 0.5rem 1rem $gray-blue;
    border-radius: 0.7rem;
    min-width: 20.625rem;
    overflow: hidden;
}

header {
}

h2 {
    font-weight: $fw-700;
    color: $dark-gray-blue;
    font-size: 1rem;
    padding-top: 1.5rem;
}

main {
    padding-inline: 2rem;
}

p {
    color: $desat-blue;
    padding-top: 1rem;
}

.profile-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

.avatar {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    margin-top: 0.8rem;
}

.profile-name {
    font-weight: $fw-700;
    color: $dark-gray-blue;
}

.post-date {
    margin: 0;
    padding: 0;
}

button {

}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }